//控制面板
.slide-fade-enter-active {
	transition: all .5s ease;
}
.slide-fade-leave-active {
	transition: all .1s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}

//侧滑
.slider-enter,
.slider-leave-to {
	opacity: 0;
	transform: translateX(200px);
}
.slider-enter-active,
.slider-leave-active {
	transition: all 1s ease;
}
